.modal {
    z-index: 100;
    position: fixed;
    top: 22vh;
    left: 10%;
    width: 80%;
    background: rgb(247, 247, 239);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 20px;
    border: 2px solid green;
  }
  
  .modal__header {
    padding: 1rem 0.5rem;
    background: #2b491a;
    color: white;
    border-radius: 18px 18px 0px 0px;
  }
  
  .modal__header h2 {
    color: rgb(255, 255, 109);
    margin: 0.5rem;
    text-align: center;
  }
  
  .modal__content {
    padding: 1rem 0.5rem;
    padding-left: 5%;
    padding-right: 5%;
  }
  
  .modal__footer {
    padding: 1rem 0.5rem;
  }
 
  .modal__footer__button_right {
    text-align: right;
  }

  @media (min-width: 768px) {
    .modal {
      left: calc(50% - 20rem);
      width: 40rem;
    }
  }
  
  .modal-enter {
    transform: translateY(-10rem);
    opacity: 0;
  }
  
  .modal-enter-active {
    transform: translateY(0);
    opacity: 1;
    transition: all 200ms;
  }
  
  .modal-exit {
    transform: translateY(0);
    opacity: 1;
  }
  
  .modal-exit-active {
    transform: translateY(-10rem);
    opacity: 0;
    transition: all 200ms;
  }
  