:root {
    --navbar-color: hsl(122, 39%, 49%);
    --margin-color: rgb(229, 242, 208);
    --mainContentBG-color: rgb(240, 244, 228);

    /* Added for reactSideBar component */
    /* position: "absolute";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: "hidden"; */
}

/* Palette 1 (Colormind.com)
#2FCA72
#2C9295
#35495E
#384649
#C8AE3E
 */
 /* Palette 2 (Colormind.com)
#728625
#DFE68E
#D9B863
#B15A2B
#39281B
 */

.App {
    display: grid;
    grid-template-columns: 110px 1fr 110px;
    grid-template-rows: 100px 1fr;
    grid-column-gap: 2px;
    grid-row-gap: 0px;

}

.App-NavBar {
  grid-area: 1 / 1 / 2 / 4;
  z-index: 3;
  position: fixed;
  width:100%

}

.App-mainContent {
  grid-area: 2 / 1 / 4 / 4;
  height: auto;
  background: var(--mainContentBG-color);

}

/* .App-leftMargin {
  grid-area: 2 / 1 / 3 / 2;
  background-color: var(--margin-color);
  z-index: 0;

}

.App-rightMargin {
  grid-area: 2 / 3 / 3 / 4;
  background-color: var(--margin-color);
  z-index: 0;
} */



/*
.App-navigation {
    padding: 10px;
    color: white;
}

.App-sidebar {
    background: rgba(255, 255, 255, 0.9);
    display: relative;
    padding: 10px;
}

.App-sidebar img {
    max-width: 100%;
}

.App-navigation h1 {
    font-size: 36pt;
}

.Article-title {
    font-size: 2em;
}

.App-navigation {
    grid-column: 2 / span 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.App-navigation a {
    font-size: 14pt;
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5) inset;
}

.App-mainContent {
    grid-column: 2;
} */


/* Added for reactSideBar component */
