.main-content {
   display: grid;
   grid-template-columns: 1fr 600px 1fr;
   grid-template-rows: 3fr 5fr;
}


.list-item {
    width: auto;
    height: auto;
    /* border: 1px solid green; */
    /* border-radius: 8px; */
    /* margin: 10px 5px; */
    display: grid;
    grid-column: 2;
    grid-template-rows: 300px 300px;
    box-shadow: 0px 5px 5px grey;
}

.item-card-image-space {
    grid-row: 1;
    width: auto;
    background: white;
    border-radius: 8px 8px 0px 0px;
    object-fit: scale-down;
}

.item-card-image {
    max-height: auto;
    /* width: 300px; */
    object-fit: scale-down;
}

.item-card-info {
    grid-row: 2;
    text-align: center;
    padding-left: 20px;
    padding-top: 10px;
}

