.card-common {
    position: relative;
    margin: 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border: 1px solid darkgreen;
    border-radius: 26px;
    padding: 1rem;
    padding-left: 25px;
    overflow: hidden;
    background: white;
  }
  