.NavBar {
  display: grid;
  grid-template-columns: 0.20fr repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  /* justify-content: center; */
  background: var(--navbar-color);
  color: white;
  padding: 10px;
  align-items: center;
}

.NavBar-Burger {
  grid-area: 1 / 1 / 2 / 2;
  align-self: baseline;
}

.App-title {
    grid-area: 1 / 2 / 2 / 3;
    padding-left: 20px;
    padding-top: 5px;
    font-size: 30px;
    /* border: 2px solid white; */
}

.NavTitle {
  text-decoration: none;
  color: yellow;
}

.NavBar-Search {
  grid-area: 1 / 3 / 2 / 4;
  color:black;
}
